{% extends 'base.html' %}

{% block title %} | Dashboard{% endblock %}

{% block content %}
<section id="" class="py-5 text-white" style="background-color:#142642;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">User Dashboard</h1>
                <p class="lead">Manage your Real Estate Account</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Dashboard</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome {{ user.first_name }}</h2>
            {% if is_realtor %}
                {% if realtors %}
                    <p>Here are the property listings Inquired For You</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Property</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in realtors %}
                        <tr>
                            <td>{{ contact.id}}</td>
                            <td>{{ contact.listing }}</td>
                            <td class="btn btn-info">{{ contact.requested }} </td>
                            <td>
                                <a class="btn btn-dark" href="{% url 'listing' contact.listing_id %}">View Listing</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have not made any inquiries</p>
                {% endif %}
            {% else %}
                {% if contacts %}
                    <p>Here are the property listings that you have inquired about</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Property</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.id}}</td>
                            <td>{{ contact.listing }}</td>
                            <td class="btn btn-info">{{ contact.requested }} </td>
                            <td>
                                <a class="btn btn-warning" href="{% url 'cancel' contact.id %}" >Cancel Requested</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have not made any inquiries</p>
                {% endif %}
            {% endif %}
                {% if posted %}
                    <p>Here are the property listings that you have Posted</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Property</th>
                            <th scope="col">Status</th>
                            <th scope="col">View</th>
                            <th scope="col">Cancel</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for posted in posted %}
                        <tr>
                            <td>{{ posted.id}}</td>
                            <td>{{ posted.title }}</td>
                            {% if posted.is_published %} <td class="btn btn-info">Published</td> {% else %}<td class="btn btn-danger">Not Published </td>{% endif %}
                            <td>
                                <a class="btn btn-dark" href="{% url 'listing' posted.id %}">View Post</a>
                            </td>
                            {% if posted.is_published %}
                            <td>
                                <a class="btn btn-danger" href="{% url 'listing' posted.id %}">Cancel Post</a>
                            </td>
                            {% else %}
                            <td>
                                <a class="btn btn-info" href="{% url 'post' posted.id %}">Post House</a>
                            </td>
                            {% endif %}

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have not made any Posts</p>
                {% endif %}
                {% if is_realtor %}
                    {% if listings %}
                        <p>Here are the property listings that you have inquired about</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Property</th>
                                <th scope="col">Status</th>
                                <th scope="col">View</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for list in listings %}
                            <tr>
                                <td>{{ list.id }}</td>
                                <td>{{ list.title }}</td>
                                <td class="btn btn-info">{% if list.is_published %} Published {% else %}Not Published {% endif %} </td>
                                <td>
                                    <a class="btn btn-dark" href="{% url 'listing' list.id %}">View Listing</a>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You have not made any inquiries</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}