{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} | About Us{% endblock %}

{% block content %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper img" style="background-image: url({% static 'img/image.jpg' %});">
						<div class="row">
							<div class="col-md-9 col-lg-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">{% trans "Get in touch with us" %}</h3>
									<div id="form-message-warning" class="mb-4"></div>
<!--				      		<div id="form-message-success" class="mb-4">-->
<!--				            Your message was sent, thank you!-->
<!--				      		</div>-->
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">{% trans "Full Name" %}</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="{% trans "Name" %}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="email">{% trans "Email Address" %}</label>
													<input type="email" class="form-control" name="email" id="email" placeholder="{% trans "Email" %}">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">{% trans "Subject" %}</label>
													<input type="text" class="form-control" name="subject" id="subject" placeholder="{% trans "Subject" %}">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="messages">{% trans "Message" %}</label>
													<textarea name="message" class="form-control" id="messages" cols="30" rows="4" placeholder="{% trans "Message" %}"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="{% trans "Send Message" %}" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>
{% endblock %}