{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    <br><br>
    <div class="form-group">
      <label for="fname" class="form-label">{% trans "Name" %}</label>
      <input name="name" type="text" id="fname" class="form-control form-control-lg" placeholder="{% trans "Your Name" %}">

      <label for="exampleInputemail1" class="form-label">{% trans "Email" %}</label>
      <input name="email" class="form-control form-control-lg" id="exampleInputemail1" type="text" placeholder="{% trans "Your Email" %}">

      <label for="subject" class="form-label">{% trans "Subject" %}</label>
      <textarea name="subject" class="form-control form-control-lg" id="subject" rows="3" placeholder="{% trans "Write Something" %}"></textarea>

      <input type="submit" class="btn btn-success btn-lg mt-1 ml-4" value="{% trans "Submit" %}">
    </div>
  </form>

</div>

{% endblock %}