{% extends 'base.html' %}


{% block content %}

<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    <br><br>
    <div class="form-group">
      <label for="fname" class="form-label">Name</label>
      <input name="name" type="text" id="fname" class="form-control form-control-lg" placeholder="Your Name">

      <label for="exampleInputemail1" class="form-label">Email</label>
      <input name="email" class="form-control form-control-lg" id="exampleInputemail1" type="text" placeholder="Your Email">

      <label for="subject" class="form-label">Subject</label>
      <textarea name="subject" class="form-control form-control-lg" id="subject" rows="3" placeholder="Write Something"></textarea>

      <input type="submit" class="btn btn-success btn-lg mt-1 ml-4" value="Submit">
    </div>
  </form>

</div>

{% endblock %}